* {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
    font-family: monospace;
}

:root {
    --mainColor: #29335c;
    --mainColor: #4f5c90;
    --secundaryColor: #DB2B39;
    --textColor: #fff;
}

.conteiner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
}

.screenCarousel {
    height: 75%;
    width: 75vw;
}